# Dev stuff
__pycache__
*.sw?
.idea/
# Locally generated
.vscode/settings.json
.DS_Store
settings/abbreviations.csv
settings/additional_words.csv
settings/file_extensions.csv
settings/unix_utilities.csv
settings/words_to_replace.csv
settings/system_paths.csv
settings/search_engines.csv
